/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    color: gray;
}

.navbar {
    height: 80px;
    padding: 0 25px;
    background-color: #ec4c7d;
}

.navbar .nav-left img {
    height: 55px;
    position: absolute;
    top: -23px;
    left: 5px;
}

.navbar .nav-left a {
    line-height: 65px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar .nav-right {
    float: right;
}

.navbar .nav-right input {
    border: none;
    margin-top: -47px;
    display: block;
    height: 30px;
    border-radius: 5px;
}

.navbar .nav-right input:focus {
    outline: 0;
    padding: 0 5px;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    height: 15px;
    top: 3px;
    right: 2px;
    background-color: #ffffff;
    padding: 5px 8px;
}

.section {
    width: 40%;
    float: left;
    margin: 2% 0;
    text-align: center;
}

.section img {
    width: 70%;
}

.top-section .section:nth-child(1) {
    text-align: left;
    margin-left: 15%;
    margin-top: 15%;
}

.top-section .section:nth-child(2) {
    margin-top: 7%;
}

.top-section {
    background-image: url(images/header-bg.png);
    height: 615px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-section h2 {
    margin: 0;
    padding-bottom: 8px;
}

.top-section h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: #ec4e8c;
}

.button {
    color: #fff;
    background-color: #ec4e8c;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
}

.biography-section .section:nth-child(2) {
    text-align: left;
    padding-top: 150px;
    padding-left: 100px;
}

.biography-section {
    background-image: url(images/biography-bg.png);
    height: 615px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-section {
    background-image: url(images/latest-work-bg.png);
    height: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 80px 150px 80px;
}

.work-section img {
    width: 28%;
}

.client {
    text-align: center;
}

.client h2 {
    margin-bottom: 50px;
}

.client p{
    margin: 0;
}

.client .extra {
    color: black;
    font-weight: bold;
    margin-bottom: 3px;
}

.client .extra-info {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-top: 60px;
        background-color: #ed4b73;
    padding: 60px;
    width: 50%;
    border-radius: 8px;
    margin-left: 21%;
}

.progress {
    border: 1px solid #000;
}

.progressbar p {
    text-align: left;
    color: #333333;
}

.progressbar .one {
    padding-left: 80px;
}

.progressbar .two {
    padding-left: 80px;
}